@model APPARCA.Models.Plaza

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plaza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ArrendadorId" class="control-label"></label>
                <select asp-for="ArrendadorId" class="form-control" asp-items="ViewBag.ArrendadorId"></select>
                <span asp-validation-for="ArrendadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label"></label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ancho" class="control-label"></label>
                <input asp-for="Ancho" class="form-control" />
                <span asp-validation-for="Ancho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Largo" class="control-label"></label>
                <input asp-for="Largo" class="form-control" />
                <span asp-validation-for="Largo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioHora" class="control-label"></label>
                <input asp-for="PrecioHora" class="form-control" />
                <span asp-validation-for="PrecioHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicio" class="control-label"></label>
                <input asp-for="HoraInicio" class="form-control" />
                <span asp-validation-for="HoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFinal" class="control-label"></label>
                <input asp-for="HoraFinal" class="form-control" />
                <span asp-validation-for="HoraFinal" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="formatoImagen" class="control-label"></label>
                <input asp-for="formatoImagen" class="form-control" />
                <span asp-validation-for="formatoImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioMando" class="control-label"></label>
                <input asp-for="PrecioMando" class="form-control" />
                <span asp-validation-for="PrecioMando" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EsVerificada" class="control-label"></label>
                <input asp-for="EsVerificada" class="form-control" />
                <span asp-validation-for="EsVerificada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

