html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf");
}

* {
    font-family: "Roboto" !important;
}

header nav{
    border-bottom: 2px solid #d9d9d8;

}

.login {
    margin-right: 1rem;
}

footer li{
    height: 75%;
}

footer li a{
    height: 100%;
}

footer img{
    height: 95%;
}



@media screen and (max-width: 992px) {
    header{
        font-size:1.4rem;
    }
    header ul{
        background-color: white;
    }

    header li{
        width: 100%;
    }

    .dropdown-divider{
        background-color: #3164c2 !important;
        height: 3px;
        width: 25%;
    }

    .login{
        margin-right:0px;
    }
}